{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <div class="glass-card">
        <h1>Вход</h1>
        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}
        <form method="POST" animated-bg>
            <div class="form-group">
                <input type="text" name="username" placeholder="Имя пользователя" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Пароль" required>
            </div>
            <button type="submit" class="btn">Войти</button>
        </form>
        <p class="account-prompt" >Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
    </div>
</div>
{% endblock %}